#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
  z-index: 3;
}

#main-toolbar #box-button {
  background-image: url(../icons/box.svg);
  z-index: 3;
}

#main-toolbar #circle-button {
  background-image: url(../icons/circle.svg);
  z-index: 3;
}

#main-toolbar #triangle-button {
  background-image: url(../icons/triangle.svg);
  z-index: 3;
}

#main-toolbar #clearall-button {
  background-image: url(../icons/clear_all.svg);
  z-index: 3;
}


#main-toolbar #stop-button {
  z-index: 3;
}

html, body, #viewport {
  margin: 0; background: #ffffff;
}

.pjs-meta {
  color: #fff;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}